<%- include ('header') %>


<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>


    <style>
        
#new61{

width: 300px;
margin-right: 500px;
}



@media only screen and (max-width: 600px) {

#new61{


width:300px;

margin-right:-160px;

}
}
    </style>
</head>
<div id="new61">
    <div class="container-fluid"style="margin-top:100px;">
        <p id="oldimages"><%=images%></p>
        <form id="myformi"method="POST">
            <div class="form-group">
                <label>Title</label>
                <input name="title" class="form-control" id="name" placeholder="Title" value="<%= post.title %>">
    
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"  id="submitform"type="button">
                Update image
            </button>
            <div class="form-group">
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal1"  id="submitform"type="button"onclick="showdialog(this)">
                Update images
            </button>
            <div class="form-group">
                <label>details</label>
                <textarea name="details" class="form-control" id="details" ><%=post.details%></textarea>
              
            </div>
            <div class="form-group">
                <label>place</label>
                <textarea name="place" class="form-control" id="place" ><%=post.location%></textarea>
              
            </div>
            <div class="form-group">
                <label>timing</label>
                <input type="datetime-local" id="timing" name="timing" <%=post.timing%> >
              
            </div>
            <div class="form-group">
                <label>about</label>
                <textarea name="about" class="form-control" id="about"><%=post.about%></textarea>
              
            </div>

            <button type="submit" class="btn btn-success" id="mysubmit" value="Edit">
                Edit
              </button>
        </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
            Upload Image
            </h4>
            <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                x
            </button>
        </div>       
       
        <div class="modal-body">
            <form method="POST" action="/do-update-image" enctype="multipart/form-data" id="form-update">

                
            <div class="form-group">

                <input type="file" name="file" id="file" class="form-control"multiple>
            </div>
            <input type="submit"class="btn btn-success" value="Upload">
            </form>
          
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
            Upload Image
            </h4>
            <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                x
            </button>
        </div>       
       
        <div class="modal-body">
            <form method="POST" action="/do-update-image" enctype="multipart/form-data" id="form-update1">

               
            <div class="form-group">

                <input type="file" name="file" id="file" class="form-control"multiple>
            </div>
            <input type="submit"class="btn btn-success" value="Upload">
            </form>
          
        </div>
    </div>
    </div>
</div>


<script>
         var oldimages= document.getElementById('oldimages').innerText

function showdialog(data){
    $(data.id).show()
}

 //  document.getElementById("myprofileimage").innerHTML=`<img class="d-flex mr-3 rounded-circle" style="height:50px;width:50px;"src="<%=currentuserimage%>"alt="">`
 document.getElementById("myprofileimage").innerHTML=`<img class="d-flex mr-3 rounded-circle" style="height:50px;width:50px;"src="/image/<%=currentuserimage%>"alt="">`

    var postId='<%= post._id %>'
   
   
    $("#myformi").on('submit',function(e){
        var formData={
            
            
            title:$("#name").val(),
            details:$("#details").val(),
            timing:$("#timing").val(),
            place:$("#place").val(),
            about:$("#about").val(),
            _id:postId, 
            oldimages:oldimages,
            images:imagePath1,
        videos:videoPath1,
        
        
        };


        alert(formData.images)
        $.ajax({
            url:"/do-edit-events",
            method:"POST",
            data:formData,
success:function(response){
    alert(response)
}
        });
        return false;

    })

    $("#form-update").on("submit",function(e){
          
          e.preventDefault()           
                 $.ajax({
                    url: "/do-upload-image",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache:false,
                    processData: false,
                    success:function(response){
                     
                    
                      image=response;
                     
                          
                      $("#myModal").modal("hide")
                    }
               })
             
          })



          var imagePath1="";
   var videoPath1="";
    $("#form-update1").on("submit",function(e){
          
          e.preventDefault()           
                 $.ajax({
                    url: "/do-update-image1",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache:false,
                    processData: false,
                    success:function(response){
                     
                    
                        imagePath1=response.data;
                      videoPath1=response.videos;
                          
                      $("#myModal1").modal("hide")
                    }
               })
             
          })
</script>


<%- include ('footer') %>
