<!DOCTYPE html>
<html lang="en">


<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <style>
.container{
    margin-left:0;
}

#new69{

width: 300px;
margin-right: 500px;
}



@media only screen and (max-width: 600px) {

#new69{


width:300px;

margin-right:-160px;

}
}






    </style>
</head>


<%- include ('header.ejs') %>


<body>
    

<div id="new69">
    <div class="container-fluid" style="margin-top:100px;">
        <p id="oldimages"><%=images%></p>
        <p  id="oldvideos"><%=videos%></p>
        <form id="myformi"method="POST">
            <div class="form-group">
                <label>Title</label>
                <input name="title" class="form-control" id="name" placeholder="Title" value="<%=post.title%>">
    
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"  id="submitform"type="button">
                Update image
            </button>
            <div class="form-group">
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal1"  id="submitform"type="button"onclick="showdialog(this)">
                Update images
            </button>
            <div class="form-group">
                <label>details1</label>
                <textarea name="details1" class="form-control" id="details1" value=<%=post.detail1%>><%=post.detail1%></textarea>
              
            </div>
            <div class="form-group">
                <label>details2</label>
                <textarea name="details2" class="form-control" id="details2" value=<%=post.detail2%>><%=post.detail2%></textarea>
              
            </div>
            <div class="form-group">
                <label>price</label>
                <textarea name="price" class="form-control" id="price" value=<%=post.price%>><%=post.price%></textarea>
              
            </div>
            <div class="form-group">
                <label>funct</label>
                <textarea name="funct" class="form-control" id="funct" value=<%=post.funct%>><%=post.funct%></textarea>
              
            </div>
            <div class="form-group">
                <label>company</label>
                <textarea name="company" class="form-control" id="company" value=<%=post.company%>><%=post.company%></textarea>
              
            </div>
            <button type="submit" class="btn btn-success" id="mysubmit" value="Edit">
                Edit
              </button>
        </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
            Upload Image
            </h4>
            <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                x
            </button>
        </div>       
       
        <div class="modal-body">
            <form method="POST" action="/do-update-image" enctype="multipart/form-data" id="form-update">

                <input type="hidden" name="image" value="<%= post.image %>">
            <div class="form-group">

                <input type="file" name="file" id="file" class="form-control"multiple>
            </div>
            <input type="submit"class="btn btn-success" value="Upload">
            </form>
          
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
            Upload Image
            </h4>
            <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                x
            </button>
        </div>       
       
        <div class="modal-body">
            <form method="POST" action="/do-update-image" enctype="multipart/form-data" id="form-update1">

                <input type="hidden" name="image" value="<%= post.image %>">
            <div class="form-group">

                <input type="file" name="file" id="file" class="form-control"multiple>
            </div>
            <input type="submit"class="btn btn-success" value="Upload">
            </form>
          
        </div>
    </div>
    </div>
</div>

</body>
</html>


<script>
 var oldvideos= document.getElementById('oldvideos').innerText
         var oldimages= document.getElementById('oldimages').innerText

function showdialog(data){
    $(data.id).show()
}

   ///document.getElementById("myprofileimage").innerHTML=`<img class="d-flex mr-3 rounded-circle" style="height:50px;width:50px;"src="<%=currentuserimage%>"alt="">`
   document.getElementById("myprofileimage").innerHTML=`<img class="d-flex mr-3 rounded-circle" style="height:50px;width:50px;"src="/image/<%=currentuserimage%>"alt="">`

    var postId='<%=post._id%>'
   
    
    
    
    $("#myformi").on('submit',function(e){

        e.preventDefault()
       
        alert("new")
        var formData={
            
            title:$("#name").val(),
            detai:$("#details1").val(),
            detail:$("#details2").val(),
            price:$("#price").val(),
            company:$("#company").val(),
            funct:$("#funct").val(),
            _id:postId, 
          oldimages:oldimages,
          oldvideos:oldvideos,
            images:imagePath1,
        videos:videoPath1,
        
        
        };
       
      alert(formData.images)
      

        alert("posting")
        $.ajax({
            url:"/do-edit-products",
            method:"POST",
            data:formData,
success:function(response){
    alert(response)
}
        });
        return false;

    })





    $("#form-update").on("submit",function(e){
          
          e.preventDefault()           
                 $.ajax({
                    url: "/do-upload-image",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache:false,
                    processData: false,
                    success:function(response){
                     
                    
                      image=response;
                    
                          
                      $("#myModal").modal("hide")
                    }
               })
             
          })




          var imagePath1="";
   var videoPath1="";
    $("#form-update1").on("submit",function(e){
          
          e.preventDefault()           
                 $.ajax({
                    url: "/do-update-image1",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache:false,
                    processData: false,
                    success:function(response){
                     
                    
                    
                      imagePath1=response.data;
                      videoPath1=response.videos;
                      $("#myModal1").modal("hide")
                    }
               })
             
          })
</script>


<%- include ('footer') %>
