<!DOCTYPE html>
<html lang="en">

<style>
    li{
        list-style: none;
    }
</style>
<head>
<%- include ('header') %>



</head>

<body>

    
</div class="bg-light" style="margin-top:400px;">
    <% users.forEach(function(user){ %>
       
        <ul style="margin-top:300px">
            <img class="img-fluid rounded" src="/image/<%= user.image %>" alt="myimage" width="200" height="200" >
            <li data=<%=user.username %> id=<%=user._id %> >
               
                <%=user.username %>
              click here to send request
            </li>
        </ul>
        

    <%})%>

</div>

</body>
</html>

<script>

$("li").on('click', function() {
     
    var mydata = $(this).attr("data");
    var myid = $(this).attr("id");
     alert(myid)
    $.ajax({
        type: "POST",
        url: "/sendrequest",
        data: {data:mydata,id:myid},
       
        success: function (response) {
            
        }
    });
})


</script>