<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<style>
    #id{

        height: 70px;
        width: 80px;
    }


    table.test td {
  
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
}

table.test {
  border-collapse: separate;
  border-spacing: 10px;
  *border-collapse: expression('separate', cellSpacing='10px');
}











    
</style>
<body>
   
<%-include('header')%> 


    <div id="mydata" style="display:none"><%=newuser%></div>
    <% if(typeof(user.ordersforyou)!='undefined'){ %> 
         <h2 style="margin-top:100px">Total orders for you</h2> 
        <h3 id="total"value=<%=user.ordersforyou.length%>><%=user.ordersforyou.length%></h3> 
<table class="test">
<tr>
<th>userid</th>
<th>orderplacedid</th>
<th>userplacedid</th>
<th>address</th>
<th>quantity</th>
<th>status</th>
<th>Productname</th>
<th>Take action</th>

</tr>





        <% user.ordersforyou.forEach(function(elem,index){%>
           
        <tr>

            <td><p id="userid<%=index%>"><%=elem.userid%></p></td>
            <td><p id="ownerplacedid<%=index%>"><%=elem._id%></p></td>
            <td><p id="userplacedid<%=index%>"><%=elem.userpl%></p></td>
            <td><p id="address<%=index%>"><%=elem.addressfordelivery%></p></td>
            <td><p id="quantity<%=index%>"><%=elem.quantityordered%></p></td>
            <td><p id="status<%=index%>"><%=elem.status%></p></td>
            <td><p id="product<%=index%>"><%=elem.productname%></p></td>

            <td><button id="accept<%=index%>" style="height:70;width:100">accept</button></td>

        
            <td class="ml-3"><button id="decline<%=index%>" style="height:70;width:100">decline</button></td>
            <td><button id="read<%=index%>" style="height:70;width:100">read</button></td>
            <hr>
        </tr>
        
       
        <% }) %>
    </table>
        <% } %> 
   


        <script>

let adata=document.getElementById("mydata").innerText
andata=JSON.parse(adata)
let un=0
andata.ordersforyou.forEach(function(elem,index){
    if(elem.read=="unread"){
        un=un+1
    }
})
console.log(un)
document.getElementById("myunread").innerText=un


let total=document.getElementById("total").innerText
console.log(total)

for(let i=0;i<50;i++){




    document.getElementById("accept"+i).addEventListener("click",function(e){
        //alert("accept")
       let userid=document.getElementById("userid"+i).innerText
       let userplacedid=document.getElementById("userplacedid"+i).innerText
       let ownerplacedid=document.getElementById("ownerplacedid"+i).innerText
       alert(userid) 
      alert(userplacedid) 
      alert(ownerplacedid) 
        var xhr = new XMLHttpRequest();

xhr.open("POST","/acceptorder", true);

xhr.onreadystatechange = function (result) {
                if (xhr.readyState === 4 && xhr.status === 200) {
 
                    // Print received data from server
                    result.innerHTML = this.responseText;
 
                }
            };
xhr.setRequestHeader("Content-Type", "application/json");




//var data = JSON.stringify({});
 
 // Sending data with the request
 xhr.send(JSON.stringify({
    "userid":userid,
    "ownerplacedid":ownerplacedid,
    "userplacedid":userplacedid 
    
}))
})


document.getElementById("decline"+i).addEventListener("click",function(e){
    //alert("decline")
    let userid=document.getElementById("userid"+i).innerText
       let userplacedid=document.getElementById("userplacedid"+i).innerText
       let ownerplacedid=document.getElementById("ownerplacedid"+i).innerText
      alert(userid) 
      alert(userplacedid) 
      alert(ownerplacedid) 
 var xhr = new XMLHttpRequest();

xhr.open("POST","/declineorder", true);

xhr.onreadystatechange = function (result) {
                if (xhr.readyState === 4 && xhr.status === 200) {
 
                    // Print received data from server
                    result.innerHTML = this.responseText;
 
                }
            };
xhr.setRequestHeader("Content-Type", "application/json");




//var data = JSON.stringify({});
 
 // Sending data with the request
 xhr.send(JSON.stringify({
    "userid":userid,
    "ownerplacedid":ownerplacedid,
    "userplacedid":userplacedid, 
 }));


        

  
})




document.getElementById("read"+i).addEventListener("click",function(e){
    alert("read")
    let userid=document.getElementById("userid"+i).innerText
       let userplacedid=document.getElementById("userplacedid"+i).innerText
       let ownerplacedid=document.getElementById("ownerplacedid"+i).innerText
      alert(userid) 
      alert(userplacedid) 
      alert(ownerplacedid) 
 var xhr = new XMLHttpRequest();

xhr.open("POST","/readorder", true);

xhr.onreadystatechange = function (result) {
                if (xhr.readyState === 4 && xhr.status === 200) {
 
                    // Print received data from server
                    result.innerHTML = this.responseText;
 
                }
            };
xhr.setRequestHeader("Content-Type", "application/json");




//var data = JSON.stringify({});
 
 // Sending data with the request
 xhr.send(JSON.stringify({
    "userid":userid,
    "ownerplacedid":ownerplacedid,
    "userplacedid":userplacedid, 
 }));


        

  
})



















}         





            </script>



</body>
</html>